# ============================
# ASP.NET Core (server-api)
# ============================

# Build results
server-api/[Dd]ebug/
server-api/[Dd]ebugPublic/
server-api/[Rr]elease/
server-api/[Rr]eleases/
server-api/x64/
server-api/x86/
server-api/[Ww][Ii][Nn]32/
server-api/[Aa][Rr][Mm]/
server-api/[Aa][Rr][Mm]64/
server-api/bld/
server-api/[Bb]in/
server-api/[Oo]bj/
server-api/[Ll]og/
server-api/[Ll]ogs/

# .NET Core
server-api/project.lock.json
server-api/project.fragment.lock.json
server-api/artifacts/

# ASP.NET Scaffolding
server-api/ScaffoldingReadMe.txt

# NuGet Packages
server-api/*.nupkg
# NuGet Symbol Packages
server-api/*.snupkg

# Others
server-api/~$*
server-api/*~
server-api/CodeCoverage/

# MSBuild Binary and Structured Log
server-api/*.binlog

# MSTest test Results
server-api/[Tt]est[Rr]esult*/
server-api/[Bb]uild[Ll]og.*

# NUnit
server-api/*.VisualState.xml
server-api/TestResult.xml
server-api/nunit-*.xml

# Visual Studio config
server-api/.vs/
server-api/*.user
server-api/*.suo

# ============================
# React (client-app)
# ============================

# dependencies
client-app/node_modules/
client-app/.pnp/
client-app/.pnp.js

# testing
client-app/coverage/

# production
client-app/build/

# misc
client-app/.DS_Store
client-app/.env.local
client-app/.env.development.local
client-app/.env.test.local
client-app/.env.production.local

client-app/npm-debug.log*
client-app/yarn-debug.log*
client-app/yarn-error.log*

# IDE
client-app/.vscode/
client-app/.idea/

# ============================
# Global system files
# ============================
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.orig
*.rej
